<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="actualTemplate='permisos'">
<head>
    <title>Permisos de Usuario</title>

    <!--/*/
    <th:block layout:fragment="css">
        <style>
        .modal-dialog { width:950px; }
        </style>
    </th:block>
    /*/-->
</head>
<body>
    <div layout:fragment="title">
        <ol class="breadcrumb">
            <li><a th:href="@{/}">Inicio</a></li>
            <li>Usuarios</li>
            <li>Usuarios</li>
        </ol>
    </div>

    <div layout:fragment="title">
        <h2>Permisos de Usuario</h2>
        <ol class="breadcrumb">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a th:href="@{/busquedas/usuarios}">Permisos de Usuario</a></li>
        </ol>
    </div>

    <div layout:fragment="content">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>B&uacute;squeda de usuarios
                        <small>Puede seleccionar el criterio de b&uacute;squeda mediante la casilla "Criterio".</small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content" style="padding-bottom: 5px;">

                    <form id="formBusqueda" th:action="@{/busquedas/permisos-usuario/resultado}" method="GET" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-1 control-label">Criterio</label>
                            <div class="col-sm-8">
                                <select name="criterio" id="criterio" class="form-control">
                                    <option value="nombre" th:selected="${criterio}=='nombre'">Nombre Completo</option>
                                    <option value="rut" th:selected="${criterio}=='rut'">Rut</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="nombre">
                            <label class="col-sm-2 col-sm-offset-1 control-label">Nombre Completo</label>
                            <div class="col-sm-8">
                                <input type="text" id="nombreField" name="nombre" th:value="${nombre}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group" id="rut">
                            <label class="col-sm-2 col-sm-offset-1 control-label">Rut</label>
                            <div class="col-sm-8">
                                <input type="number" id="rutField" name="rut" th:value="${rut}" placeholder="Sin d&iacute;gito verificador ni puntos" class="form-control"/>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group text-center">
                            <button onclick="submitFormBusqueda()" class="btn btn-primary" type="button">Buscar</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="col-lg-12" th:if="${usuario != null}" id="resultados_busqueda">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Permisos del usuario
                        <span th:text="${usuario.nombres+' '+usuario.apellidoPaterno+' '+usuario.apellidoMaterno}"></span>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-10">
                            <label class="col-sm-offset-1 control-label">Acceso a sistemas</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <table class="col-sm-offset-1 table table-bordered table-hover" align="center">
                                <thead>
                                <tr>
                                    <th class="col-sm-4">Sistema</th>
                                    <th class="col-sm-2">Fecha</th>
                                    <th class="col-sm-2">Quien lo autoriz&oacute;</th>
                                    <th class="col-sm-1">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${accesosUsuarioSistema.size()!=0}"  th:each="accesoUsuarioSistema : ${accesosUsuarioSistema}">
                                    <td>
                                        <span th:if="${accesoUsuarioSistema.sistema != null and accesoUsuarioSistema.sistema.nombre != null}" th:text="${accesoUsuarioSistema.sistema.nombre}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${accesoUsuarioSistema.fechaCreacion}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${accesoUsuarioSistema.rutUsuarioNombre != null}" th:text="${accesoUsuarioSistema.rutUsuarioNombre}"></span>
                                        <span th:if="${accesoUsuarioSistema.rutUsuarioNombre == null}" th:text="${accesoUsuarioSistema.rutUsuario}"></span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modalAsignarAccesoSistema" th:onclick="'prepararModalModificarAccesoSistema('+${accesoUsuarioSistema.sistema.codigo}+',\''+${accesoUsuarioSistema.sistema.nombre}+'\')'"><i class="fa fa-pencil-square-o"></i> Modificar</button>
                                        <form action="#" th:action="@{/seguridad/eliminar-acceso-sistema/{idUsuario}/{codSistema}(idUsuario=${accesoUsuarioSistema.usuario.id},codSistema=${accesoUsuarioSistema.sistema.codigo})}" method="post" >
                                            <input type="hidden" name="idUsuario" th:value="${accesoUsuarioSistema.usuario.id}" />
                                            <input type="hidden" name="codSistema" th:value="${accesoUsuarioSistema.sistema.codigo}" />
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                            <button class="btn btn-danger btn-xs" type="submit" onClick="return confirm('¿Está seguro de que desea eliminar este acceso?')"><i class="fa fa-times"></i> Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr th:if="${accesosUsuarioSistema.size()==0}">
                                    <td colspan="4" style="color:gray" align="center">EL USUARIO NO TIENE ACCESO A NING&Uacute;N SISTEMA</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAsignarAccesoSistema" onclick="prepararModalAsignarAccesoSistema()"><i class="fa fa-plus"></i> Asignar Acceso a Sistema</button>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-md-10">
                            <label class="col-sm-offset-1 control-label">Roles de acceso</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <table class="col-sm-offset-1 table table-bordered table-hover" align="center">
                                <thead>
                                <tr>
                                    <th class="col-sm-2">Rol</th>
                                    <th class="col-sm-4">Descripci&oacute;n</th>
                                    <th class="col-sm-2">Fecha</th>
                                    <th class="col-sm-2">Quien lo autoriz&oacute;</th>
                                    <th class="col-sm-1">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${rolesUsuario.size()!=0}"  th:each="rolUsuario : ${rolesUsuario}">
                                    <td>
                                        <span th:text="${rolUsuario.rolAcceso.nombrePresentacion}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${rolUsuario.rolAcceso.descripcion}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${rolUsuario.fechaCreacion}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${rolUsuario.rutUsuarioNombre != null}" th:text="${rolUsuario.rutUsuarioNombre}"></span>
                                        <span th:if="${rolUsuario.rutUsuarioNombre == null}" th:text="${rolUsuario.rutUsuario}"></span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modalAsignarRolUsuario" th:onclick="'prepararModalModificarRolUsuario(\''+${rolUsuario.rolAcceso.nombre}+'\',\''+${rolUsuario.rolAcceso.nombrePresentacion}+'\')'"><i class="fa fa-pencil-square-o"></i> Modificar</button>
                                        <button th:if="${rolUsuario.rolAcceso.nombre!='ROLE_SUPER_ADMIN'}" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalAsignarRolUsuario" th:onclick="'prepararModalAgregarPermisoRolUsuario(\''+${rolUsuario.rolAcceso.nombre}+'\',\''+${rolUsuario.rolAcceso.nombrePresentacion}+'\')'"><i class="fa fa-plus"></i> Agregar Restricción</button>
                                        <form action="#" th:action="@{/seguridad/eliminar-rol-usuario/{idUsuario}/{idRolAcceso}(idUsuario=${rolUsuario.usuario.id},idRolAcceso=${rolUsuario.rolAcceso.id})}" method="post" >
                                            <input type="hidden" name="idUsuario" th:value="${rolUsuario.usuario.id}" />
                                            <input type="hidden" name="idRolAcceso" th:value="${rolUsuario.rolAcceso.id}" />
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                            <button class="btn btn-danger btn-xs" type="submit" onClick="return confirm('¿Está seguro de que desea eliminar este rol?')"><i class="fa fa-times"></i> Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr th:if="${rolesUsuario.size()==0}">
                                    <td colspan="5" style="color:gray" align="center">EL USUARIO NO TIENE NING&Uacute;N ROL DE ACCESO</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAsignarRolUsuario" onclick="prepararModalAsignarRolUsuario()"><i class="fa fa-plus"></i> Asignar Rol de Acceso</button>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-md-10">
                            <label class="col-sm-offset-1 control-label">Permisos de Acceso</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <table class="col-sm-offset-1 table table-bordered table-hover" align="center">
                                <thead>
                                <tr>
                                    <th class="col-sm-2">Objeto</th>
                                    <th class="col-sm-1">Global</th>
                                    <th class="col-sm-3">Restricci&oacute;n</th>
                                    <th class="col-sm-1">Permisos</th>
                                    <th class="col-sm-2">Fecha</th>
                                    <th class="col-sm-2">Quien lo autoriz&oacute;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${autorizacionesUsuario != null and autorizacionesUsuario.size()!=0}"  th:each="autorizacionUsuario : ${autorizacionesUsuario}">
                                    <td>
                                        <span th:text="${autorizacionUsuario.nombreObjeto}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${autorizacionUsuario.global == true}" th:text="${'Sí'}"></span>
                                        <span th:if="${autorizacionUsuario.global == false}" th:text="${'No'}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${autorizacionUsuario.restriccionNombre != null || autorizacionUsuario.restriccionNombre != ''}" th:text="${autorizacionUsuario.restriccionNombre}"></span>
                                        <span th:if="${autorizacionUsuario.restriccionNombre == null || autorizacionUsuario.restriccionNombre == ''}" th:text="${'Sin restricciones'}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${autorizacionUsuario.global==false}" th:each="permiso, iterStat : ${autorizacionUsuario.permisosAsignados}">
                                            <span th:if="${iterStat.index+1 != autorizacionUsuario.permisosAsignados.size()}" th:text="${permiso.permisoAcceso.nombre}+', '"></span>
                                            <span th:if="${iterStat.index+1 == autorizacionUsuario.permisosAsignados.size()}" th:text="${permiso.permisoAcceso.nombre}"></span>
                                        </span>
                                        <span th:if="${autorizacionUsuario.global == true}" th:text="${'Todos'}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${autorizacionUsuario.fechaCreacion}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${autorizacionUsuario.rutUsuarioNombre != null}" th:text="${autorizacionUsuario.rutUsuarioNombre}"></span>
                                        <span th:if="${autorizacionUsuario.rutUsuarioNombre == null}" th:text="${autorizacionUsuario.rutUsuario}"></span>
                                    </td>
                                </tr>
                                <tr th:if="${autorizacionesUsuario != null and autorizacionesUsuario.size()==0}">
                                    <td colspan="7" style="color:gray" align="center">EL USUARIO NO TIENE NING&Uacute;N PERMISO DE ACCESO</td>
                                </tr>
                                <tr th:if="${autorizacionesUsuario == null}">
                                    <td colspan="7" style="color:green" align="center">EL USUARIO POSEE ROL DE ADMINISTRADOR GENERAL</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                </div>
            </div>

        </div>

        <div th:if="${usuario != null}" class="modal inmodal fade" id="modalAsignarAccesoSistema" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="titleModalAsignarAccesoSistema" class="modal-title"></h4>
                        <small id="subTitleModalAsignarAccesoSistema" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-2 col-sm-offset-1 control-label">Sistema</label>
                            <div class="col-sm-8">
                                <select id="selectAsignarAcceso" class="form-control">
                                    <option th:each="s: ${sistemas}" th:value="${s.codigo}" th:text="${s.nombre}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <div class="text-center">
                            <form id="formAsignarAcceso" action="#" th:action="@{/seguridad/asignar-acceso-sistema}" method="POST">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" name="idUsuario" th:value="${usuario.id}"/>
                                <input type="hidden" name="codSistema" id="codSistemaAAsignar"/>
                                <input type="hidden" name="codSistemaAntiguo" id="codSistemaAntiguo"/>
                            </form>
                            <button type="button" id="btnAsignarAcceso" class="btn btn-primary"></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${usuario != null}" class="modal inmodal fade" id="modalAsignarRolUsuario" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="titleModalAsignarRolUsuario" class="modal-title"></h4>
                        <small id="subTitleModalAsignarRolUsuario" class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        <div id="divRolModalAsignarRolUsuario" class="row">
                            <label class="col-sm-2 col-sm-offset-1 control-label">Rol de acceso</label>
                            <div class="col-sm-8">
                                <select id="selectAsignarRol" class="form-control">
                                    <option th:each="r: ${roles}" th:value="${r.nombre}" th:text="${r.nombrePresentacion+' - '+r.descripcion}"></option>
                                </select>
                            </div>
                        </div>
                        <div id="divPaisModalAsignarRolUsuario" class="row">
                            <div class="hr-line-dashed"></div>
                            <label class="col-sm-2 col-sm-offset-1 control-label">Pais</label>
                            <div class="col-sm-8">
                                <select id="selectPaises" class="form-control">
                                    <option th:each="p: ${paises}" th:value="${p.id}" th:text="${p.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div id="divInstitucionModalAsignarRolUsuario" class="row">
                            <div class="hr-line-dashed"></div>
                            <label class="col-sm-2 col-sm-offset-1 control-label">Institucion</label>
                            <div class="col-sm-8">
                                <select id="selectInstituciones" class="form-control">
                                    <option th:each="i: ${instituciones}" th:value="${i.codInstitucion}" th:text="${i.nomInstitucion}"></option>
                                </select>
                            </div>
                        </div>
                        <div id="divCarreraInstitucionModalAsignarRolUsuario" class="row">
                            <div class="hr-line-dashed"></div>
                            <label class="col-sm-2 col-sm-offset-1 control-label">Carrera</label>
                            <div class="col-sm-8">
                                <select id="selectCarreras" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <div class="text-center">
                            <form id="formAsignarRolUsuario" action="#" th:action="@{/seguridad/asignar-rol-usuario}" method="POST">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" name="idUsuario" th:value="${usuario.id}"/>
                                <input type="hidden" name="idRolAcceso" id="idRolAccesoAAsignar"/>
                                <input type="hidden" name="idRolAccesoAntiguo" id="idRolAccesoAntiguo"/>
                                <input type="hidden" name="codInstitucion" id="codInstitucion"/>
                                <input type="hidden" name="codCarrera" id="codCarrera"/>
                            </form>
                            <form id="formAgregarPermisoRolUsuario" action="#" th:action="@{/seguridad/agregar-permiso-rol-usuario}" method="POST">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" name="idUsuario" th:value="${usuario.id}"/>
                                <input type="hidden" name="idRolAcceso" id="idRolAccesoFormAgregarPermiso"/>
                                <input type="hidden" name="codInstitucion" id="codInstitucionFormAgregarPermiso"/>
                                <input type="hidden" name="codCarrera" id="codCarreraFormAgregarPermiso"/>
                            </form>
                            <button type="button" id="btnAsignarRol" class="btn btn-primary"></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <th:block layout:fragment="scripts">

        <script th:inline="javascript">
            // <![CDATA[

            var codSistemaAccesoSistemaAModificar;
            var idRolAccesoRolUsuarioAModificar;
            var agregarPermisoRolUsuario = false;

            $(document).ready(function() {
                if ($("#resultados_busqueda").offset() != null) {
                    $('html, body').animate({
                        scrollTop: $("#resultados_busqueda").offset().top
                    }, 1000);
                }

                if($('#nombreField').val() != ''){
                    $('#nombreField').val(decodeURI($('#nombreField').val()));
                }
                cambiarEstadoTextBox();
                $('#criterio').change(function(){
                    cambiarEstadoTextBox();
                });

                $('#btnAsignarAcceso').click(function () {
                    $('#codSistemaAAsignar').val($('#selectAsignarAcceso').val());
                    $('#codSistemaAntiguo').val(codSistemaAccesoSistemaAModificar);
                    $('#formAsignarAcceso').submit();
                });

                $('#btnAsignarRol').click(function() {
                    if (agregarPermisoRolUsuario) {
                        $('#idRolAccesoFormAgregarPermiso').val(idRolAccesoRolUsuarioAModificar);
                        $('#codInstitucionFormAgregarPermiso').val($('#selectInstituciones').val());
                        $('#codCarreraFormAgregarPermiso').val($('#selectCarreras').val());
                        $('#formAgregarPermisoRolUsuario').submit();
                    } else {
                        $('#idRolAccesoAAsignar').val($('#selectAsignarRol').val());
                        $('#idRolAccesoAntiguo').val(idRolAccesoRolUsuarioAModificar);
                        $('#codInstitucion').val($('#selectInstituciones').val());
                        $('#codCarrera').val($('#selectCarreras').val());
                        $('#formAsignarRolUsuario').submit();
                    }
                });

                $('#selectPaises option').filter('[value=56]').attr('selected', true);

                $('#selectAsignarRol').change(function(){
                    verificarSelectAsignarRol();
                });

                $('#selectPaises').change(function(){
                    poblarSelectInstituciones();
                });

                $('#selectInstituciones').change(function(){
                   poblarSelectCarrerasInstitucion();
                });
            });

            function prepararModalModificarAccesoSistema(codSistema,nomSistema){
                codSistemaAccesoSistemaAModificar = codSistema;
                $('#titleModalAsignarAccesoSistema').text("Modificar acceso a sistema "+nomSistema);
                $('#subTitleModalAsignarAccesoSistema').text("Seleccione el sistema que reemplazara al anterior");
                $('#btnAsignarAcceso').text('Modificar Acceso');
                $('#selectAsignarAcceso').val(codSistema);
            }

            function prepararModalModificarRolUsuario(idRolAcceso,nomRolAcceso){
                idRolAccesoRolUsuarioAModificar = idRolAcceso;
                agregarPermisoRolUsuario = false;
                $('#titleModalAsignarRolUsuario').text("Modificar rol de usuario: "+nomRolAcceso);
                $('#subTitleModalAsignarRolUsuario').text("Seleccione el rol que reemplazara al anterior");
                $('#btnAsignarRol').text('Modificar Rol');
                $('#selectAsignarRol option').filter('[value='+idRolAcceso+']').attr('selected', true);
                verificarSelectAsignarRol();
            }

            function prepararModalAgregarPermisoRolUsuario(idRolAcceso,nombreRolAcceso){
                idRolAccesoRolUsuarioAModificar = idRolAcceso;
                agregarPermisoRolUsuario = true;
                $('#titleModalAsignarRolUsuario').text("Agregar restriccion para el rol "+nombreRolAcceso);
                $('#subTitleModalAsignarRolUsuario').text("Seleccione la restriccion que desea agregar");
                $('#btnAsignarRol').text('Agregar Restriccion');
                $('#selectAsignarRol option').filter('[value='+idRolAcceso+']').attr('selected', true);
                verificarSelectAsignarRol();
            }

            function prepararModalAsignarAccesoSistema(){
                codSistemaAccesoSistemaAModificar = null;
                $('#titleModalAsignarAccesoSistema').text("Asignar acceso a sistema");
                $('#subTitleModalAsignarAccesoSistema').text("Seleccione el sistema al cual desea que el usuario tenga acceso");
                $('#btnAsignarAcceso').text('Asignar Acceso');
            }

            function prepararModalAsignarRolUsuario(){
                idRolAccesoRolUsuarioAModificar = null;
                agregarPermisoRolUsuario = false;
                $('#titleModalAsignarRolUsuario').text("Asignar rol de usuario");
                $('#subTitleModalAsignarRolUsuario').text("Seleccione el rol que desea asignar al usuario");
                $('#btnAsignarRol').text('Asignar Rol');
                verificarSelectAsignarRol();
            }

            function verificarSelectAsignarRol(){
                if(agregarPermisoRolUsuario){
                    $('#divRolModalAsignarRolUsuario').hide();
                }else{
                    $('#divRolModalAsignarRolUsuario').show();
                }
                switch($('#selectAsignarRol').val()){
                    case "ROLE_SUPER_ADMIN":
                        $('#divPaisModalAsignarRolUsuario').hide();
                        $('#divInstitucionModalAsignarRolUsuario').hide();
                        $('#divCarreraInstitucionModalAsignarRolUsuario').hide();
                        break;
                    case "ROLE_AYUDANTE_INSTITUCION":
                        poblarSelectInstituciones();
                        $('#divPaisModalAsignarRolUsuario').show();
                        $('#divInstitucionModalAsignarRolUsuario').show();
                        $('#divCarreraInstitucionModalAsignarRolUsuario').hide();
                        break;
                    case "ROLE_ADMIN_INSTITUCION":
                        poblarSelectInstituciones();
                        $('#divPaisModalAsignarRolUsuario').show();
                        $('#divInstitucionModalAsignarRolUsuario').show();
                        $('#divCarreraInstitucionModalAsignarRolUsuario').hide();
                        break;
                    case "ROLE_LEER_INSTITUCION":
                        poblarSelectInstituciones();
                        $('#divPaisModalAsignarRolUsuario').show();
                        $('#divInstitucionModalAsignarRolUsuario').show();
                        $('#divCarreraInstitucionModalAsignarRolUsuario').hide();
                        break;
                    case "ROLE_ADMIN_CARRERA":
                        poblarSelectInstituciones();
                        $('#divPaisModalAsignarRolUsuario').show();
                        $('#divInstitucionModalAsignarRolUsuario').show();
                        $('#divCarreraInstitucionModalAsignarRolUsuario').show();
                        break;
                }
            }

            function poblarSelectInstituciones(){
                $('#selectInstituciones').empty();
                $.ajax({
                    url: '/opciones/pais/'+$('#selectPaises').val()+'/instituciones',
                    method: 'GET',
                    success: function(response) {
                        if(response.length==0) $('#selectInstituciones').append($('<option></option>').attr('value', -1).text("El pais no tiene instituciones asociadas"));
                        else $.each(response, function (index, value) {
                                $('#selectInstituciones').append($('<option></option>').attr('value', value.codInstitucion).text(value.nomInstitucion));
                            });
                        poblarSelectCarrerasInstitucion();
                    }
                });
            }

            function poblarSelectCarrerasInstitucion(){
                $('#selectCarreras').empty();
                $.ajax({
                    url: '/edu/pais/institucion/'+$('#selectInstituciones').val()+'/carreras',
                    method: 'GET',
                    success: function(response) {
                        if(response.length==0) $('#selectCarreras').append($('<option></option>').attr('value', -1).text("La institución no tiene carreras asociadas"));
                        else $.each(response, function(index, value) {
                                $('#selectCarreras').append($('<option></option>').attr('value', value.codCarrera).text(value.nombreCarrera));
                            });
                    },
                    error: function(e){
                        alert(e);
                    }
                });
            }

            function submitFormBusqueda(){
                var nombre = $('#nombreField').val();
                $('#nombreField').val(encodeURI($('#nombreField').val()));
                $('#formBusqueda').submit();
                $('#nombreField').val(nombre);
            }

            function hideAll() {
                $('#rut').hide();
                $('#nombre').hide();
            }

            function cambiarEstadoTextBox() {
                hideAll();
                var criterioBusqueda = $('#criterio').val();

                if (criterioBusqueda == "nombre") {
                    $('#nombre').show();
                    $('#rutField').val('');
                }
                else if (criterioBusqueda == "rut") {
                    $('#rut').show();
                    $('#nombreField').val('');
                }
            }

            $(function() {
                $("#nombreField").autocomplete({
                    minLength:3,
                    source: function (request, response) {
                        $.getJSON("/opciones/usuarios", {
                                    term: request.term
                                },
                                response);
                    }
                });
            });
            // ]]>
        </script>
    </th:block>
</body>
</html>