<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="actualTemplate='empresas',actualSubTemplate='registrarPerfilPublicador'">
<head>
    <meta charset="utf-8"/>
    <title>Registrar Perfil Publicador</title>

    <!--/*/
    <th:block layout:fragment="css">
    <link th:href="@{/css/jQueryUI/jquery-ui-1.10.4.custom.min.css}" rel="stylesheet"/>
    </th:block>
    /*/-->

</head>
<body>

<div layout:fragment="title">
    <h2>Registrar Perfil Publicador</h2>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li>Empresas</li>
        <li>
            <a th:href="@{/empresas/registrar-perfil-publicador}" >Registrar Perfil Publicador
            </a>
        </li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Ingrese datos del perfil publicador.
                    <small>Para guardar presione "Guardar". Si desea volver sin realizar cambios presione "Cancelar"</small>
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="ibox-content">

                <form action="#" th:action="@{/empresas/registrar-perfil-publicador}" th:object="${usuarioEmpresaUsmempleo}" method="post">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*') or passwordMatchError!=null}">
                        <strong>Atenci&oacute;n: </strong> debes solucionar los errores marcados en rojo antes de
                        proceder con el registro.
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Empresa</label>
                                <input type="text" id="nombreField" name="nombreEmpresa" placeholder="Nombre empresa" th:value="${nombreEmpresa}" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label" style="color:white">boton</label>
                                <button type="button" id="mostrarSucursalesButton" class="btn btn-primary">Buscar Sucursales</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div id="selectSucursalesDiv" class="form-group" >
                                <label class="control-label">Sucursal</label>
                                <select id="selectSucursales" name="codSucursal" th:value="${codSucursal}"  class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" th:class="${#fields.hasErrors('nombreCompleto')}? 'has-error'">
                                <label class="control-label">Nombre Completo</label>
                                <input type="text" th:field="*{nombreCompleto}" class="form-control" placeholder="Nombre completo"/>
                                <label class="error" th:if="${#fields.hasErrors('nombreCompleto')}" th:text="${#fields.errors('*{nombreCompleto}')}"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" th:class="${#fields.hasErrors('rut')}? 'has-error'">
                                <label class="control-label">Rut</label>
                                    <input type="text" size="8" maxlength="8" th:field="*{rut}" class="form-control" placeholder="RUT. Sin puntos ni digito verificador"/>
                                <span class="help-block m-b-none">Sin puntos. Sin d&iacute;gito verificador.</span>
                                <label class="error" th:if="${#fields.hasErrors('rut')}" th:text="${#fields.errors('*{rut}')}"></label>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" th:class="${#fields.hasErrors('password')}? 'has-error'">
                                <label class="control-label" >Contrase&ntilde;a</label>
                                <input type="password" th:field="*{password}" name="password" placeholder="Contraseña" class="form-control"/>
                                <label class="error" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('*{password}')}"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" th:classappend="${passwordMatchError}? 'has-error'">
                                <label class="control-label">Confirmar contrase&ntilde;a</label>
                                <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" class="form-control"/>
                                <label class="error" th:text="${passwordMatchError}" th:if="${passwordMatchError}"></label>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">

                        <div class="col-sm-6">
                                <label class="control-label">Direcci&oacute;n</label>
                                <input type="text" th:field="*{direccion}" class="form-control" placeholder="Direccion"/>
                                <span class="help-block m-b-none">Agregar localidad si no es chileno</span>
                        </div>

                        <div class='col-sm-3' >
                            <div class="form-group">
                                <label class="control-label">Pa&iacute;s:</label>
                                <select id="selectPaises" th:field="*{pais.id}" class="form-control paises"
                                        onchange="cambiarPaisActual(); mostrarOpcionesComunas()">
                                </select>
                            </div>
                        </div>
                        <div class='form-group' style="margin-bottom:10px;" >
                            <div id="comuna">
                                <div class='col-sm-3'>
                                    <div class="form-group">
                                        <label class="control-label">Comuna:</label>
                                        <select th:field="*{comuna.codigo}"
                                                class="form-control comunas"
                                                id="selectComunas"
                                                onchange="cambiarComunaActual()"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" th:class="${#fields.hasErrors('email')}? 'has-error'">
                                <label class="control-label">Email</label>
                                <input type="email" th:field="*{email}" class="form-control" placeholder="Ejemplo@gmail.com"/>
                                <label class="error" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('*{email}')}"></label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Cargo</label>
                                <input th:field="*{cargo}" class="form-control" placeholder="Cargo en la institucion"/>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-4">
                                <label class="control-label">Tel&eacute;fono particular</label>
                                <input id="particular" type="text" th:field="*{fono}" class="form-control" placeholder="Telefono Particular"/>
                                <span class="help-block m-b-none">Agregar código de área de la localidad</span>
                        </div>
                        <div class="col-sm-4">
                                <label class="control-label">Tel&eacute;fono celular</label>
                                <input id="fonoCelular" type="text" th:field="*{celular}" class="form-control" placeholder="Telefono celular"/>
                        </div>
                        <div class="col-sm-4">
                                <label class="control-label">Tel&eacute;fono opcional</label>
                                <input id="opcional" type="text" th:field="*{fonoOpcional}" class="form-control" placeholder="Telefono Opcional"/>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <a th:href="@{/}" class="btn btn-white">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var paisActual = [[ ${usuarioEmpresaUsmempleo.getPais().getId()} ]] || '56';
        var comunaActual = [[ ${usuarioEmpresaUsmempleo.getComuna().getCodigo()} ]] || '0';

        var cambiarPaisActual = function() {
            paisActual = $('#selectPaises option:selected').val();
            regionActual = '0';
            provinciaActual = '0';
            comunaActual = '0';
        };

        var cambiarComunaActual = function() {
            comunaActual = $('#selectComunas option:selected').val();
        };

        var mostrarOpcionesPaises = function() {
            var selectPaises = $('#selectPaises');
            $.ajax({
                url: '/geo/paises',
                method: 'GET',
                success: function(response) {
                    $.each(response, function(index, value) {
                        var optPais = $('<option></option>').attr('value', value.id).text(value.nombre);
                        if(value.id == paisActual) {
                            optPais.attr('selected', 'selected');
                        }
                        selectPaises.append(optPais);
                    });
                }
            });
        };

        var mostrarOpcionesComunas = function() {
            if(paisActual == 56) {
                var selectComunas = $('#selectComunas');
                var geoUrl = '/geo/pais/56/comunas';
                selectComunas.empty();
                selectComunas.append($('<option></option>').attr('value', '0').attr('selected', 'selected').text('Sin información'));
                $.ajax({
                    url: geoUrl,
                    method: 'GET',
                    success: function(response) {
                        $.each(response, function(index, value) {
                            var optComuna = $('<option></option>').attr('value', value.codigo).text(value.nombre);
                            if(value.codigo == comunaActual) {
                                optComuna.attr('selected', 'selected');
                            }
                            selectComunas.append(optComuna);
                        });
                    }
                });
                $('#comuna').show();
            }
            else {
                $('#comuna').hide();
                comunaActual = '0';
            }
        };

        var mostrarSucursalesEmpresas = function(){
            var empresa = $("#nombreField").val();
            var selectSucursales = $('#selectSucursales');
            selectSucursales.empty();
            $.ajax({
                url: '/empresa/'+empresa+'/nombres-sucursales',
                method: 'GET',
                success: function(response) {
                    if(response == undefined || response == null){
                        alert("La empresa '"+$('#nombreField').val()+"' no existe o no posee sucursales.");
                    }else {
                        $.each(response, function (index, value) {
                            selectSucursales.append($('<option></option>').attr('value', value.sucursalCodigo).text(value.sucSucursal));
                        });
                        $('#selectSucursalesDiv').show();
                    }
                }
            });
        }

        $(function() {
            $("#nombreField").autocomplete({
                minLength:3,
                source: function (request, response) {
                    $.getJSON("/opciones/empresas", {
                                term: request.term
                            },
                            response);
                }
            });
        });

        $(document).ready(function() {

            if([[${noExisteEmpresa != null && noExisteEmpresa}]]){
                var ask = window.confirm("La empresa ingresada no existe. Presione 'Aceptar' para ir al formulario de creacion de empresas.");
                if (ask) {
                    document.location.href = "registrar";

                }
            }

            $('#selectSucursalesDiv').hide();

            mostrarOpcionesPaises();
            mostrarOpcionesComunas();


            $('#selectPaises').change(function () {
                mostrarOpcionesComunas();
            });

            $('#mostrarSucursalesButton').click(function (){
                mostrarSucursalesEmpresas();
            });

        });

        $(function() {
            $("#particular").autocomplete({
                minLength:6,
                source: function (request, response) {
                    var aux = $("#particular").val();
                    if(aux.length<=8 && aux.length>0) {
                        if(aux.indexOf("+56")==-1) {
                            aux = aux.charAt(0) + aux.charAt(1) + ' ' + aux.charAt(2) + aux.charAt(3)+
                                    aux.charAt(4) + aux.charAt(5)+ aux.charAt(6) + aux.charAt(7)+aux.charAt(8);
                            $("#particular").val("+" + paisActual + " " + aux);
                        }
                    }
                }
            });
        });

        $(function() {
            $("#fonoCelular").autocomplete({
                minLength:8,
                source: function (request, response) {
                    var aux2 = $("#fonoCelular").val();
                    if(aux2.length<=8 && aux2.length>0) {
                        if(aux2.indexOf("+56")==-1) {
                            aux2 = aux2.charAt(0) + ' ' + aux2.charAt(1) + aux2.charAt(2) + aux2.charAt(3)+
                                    ' '+ aux2.charAt(4) + aux2.charAt(5)+ aux2.charAt(6) + aux2.charAt(7);
                            $("#fonoCelular").val("+" + paisActual + " 9" + aux2);
                        }
                    }
                }
            });
        });

        $(function() {
            $("#opcional").autocomplete({
                minLength:8,
                source: function (request, response) {
                    var aux2 = $("#opcional").val();
                    if(aux2.length<=8 && aux2.length>0) {
                        if(aux2.indexOf("+56")==-1) {
                            aux2 = aux2.charAt(0) + ' ' + aux2.charAt(1) + aux2.charAt(2) + aux2.charAt(3)+
                                    ' '+ aux2.charAt(4) + aux2.charAt(5)+ aux2.charAt(6) + aux2.charAt(7);
                            $("#opcional").val("+" + paisActual + " 9" + aux2);
                        }
                    }
                }
            });
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>