<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="actualTemplate='empresas', actualSubTemplate='validarEmpresas', actualSubSubTemplate='validarEmpresasPorPublicador'">
<head>
    <title>Validar Empresas Por Publicador</title>

    <!--/*/
    <th:block layout:fragment="css">
        <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
        <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet"/>
        <style>
        .modal-dialog { width:950px; }
        .ui-autocomplete { z-index:2147483647; position: fixed;}
        .tooltip { z-index:2147483647; }
        </style>
    </th:block>
    /*/-->

</head>
<body>
<div layout:fragment="title">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li>Empresas</li>
        <li>Validar Empresas Por Publicador</li>
    </ol>
</div>

<div layout:fragment="title">
    <h2>Validar Empresas Por Publicador</h2>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a href="#">Empresas</a></li>
        <li><a th:href="@{/busquedas/empresas/por-validar/publicadores/}">Validar Empresas Por Publicador</a></li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Busqueda de Empresas sin Validar Registradas por Publicadores
                    <small>Seleccione el criterio que desee y presione "Buscar".</small>
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <form id="formBusqueda" action="#" th:action="@{/busquedas/empresas/por-validar/publicadores/resultados}" method="get" class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label class="control-label pull-right">Criterio</label>
                            </div>
                            <div class="col-sm-7">
                                <select name="criterio" id="criterio" class="form-control">
                                    <option value="rut" th:selected="${criterio}=='rut'">Rut/ID Extranjero</option>
                                    <option value="nombre" th:selected="${criterio}=='nombre'">Nombre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="rut">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label class="control-label pull-right">Identificador</label>
                            </div>
                            <div class="col-sm-7">
                                <div id="rutEmpresa">
                                    <input id="rutField" name="rut" class="form-control" type="text" th:value="${rut}" placeholder="RUT Nacional"/>
                                </div>
                                <div id="idExtranjera">
                                    <input id="idExtField" name="idExt" class="form-control" type="text" th:value="${idExtranjero}" placeholder="ID Empresa"/>
                                </div>
                                <label><input type="radio" id="nacional" name="idRadio" value="nacional" checked="true"/>RUT Nacional</label>
                                <label><input type="radio" id="extranjera" name="idRadio" value="extranjera" />ID Extranjero</label>
                            </div>
                        </div>
                        <div class="form-group" id="nombre">
                            <div class="col-sm-2 col-sm-offset-1">
                                <label class="control-label pull-right">Nombre</label>
                            </div>
                            <div class="col-sm-7" id="nombreEmpresa">
                                <input id="nombreField" name="nombre" type="text" th:value="${nombre}" placeholder="Nombre" class="col-sm-8 form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group text-center">
                        <input type="hidden" th:name="pagina" th:value="1"/>
                        <button onclick="submitFormBusqueda()" class="btn btn-primary" type="button">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-13" th:if="${empresas != null}">
        <div class="ibox float-e-margins" id="resultados_busqueda">
            <div class="ibox-title">
                <h5>
                    Resultados de la b&uacute;squeda
                    <small>Puede rechazar o validar una empresa seg&uacute;n lo estime conveniente</small>
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">

                <div class="alert alert-info alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    Se han encontrado <strong th:text="${empresas.getTotalElements()}">0</strong> resultados para tu
                    b&uacute;squeda.
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nombre</th>
                        <th>Rut/ID</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="emp : ${empresas}">
                        <td><a th:href="@{/empresa/{id}(id=${emp.id})}" th:if="${emp.logo==true}">
                            <img th:src="'http://empleos.sansanos.cl/data/empresas/logos/'+*{emp.id}+'_100.jpg'" height="40" width="40"/>
                        </a>
                            <a th:href="@{/empresa/{id}(id=${emp.id})}" th:if="${emp.logo==false}">
                                <img th:src="'http://empleos.sansanos.cl/resources/images/NoImagen.jpg'" height="40" width="40"/>
                            </a>
                        </td>

                        <td th:switch="${emp.razonSocial}">
                            <a th:case="null" th:href="@{/empresa/{id}(id=${emp.id})}" th:text="${emp.nombreFantasiaEmpresa}"></a>
                            <a th:case="empty" th:href="@{/empresa/{id}(id=${emp.id})}" th:text="${emp.nombreFantasiaEmpresa}"></a>
                            <a th:case="''" th:href="@{/empresa/{id}(id=${emp.id})}" th:text="${emp.nombreFantasiaEmpresa}"></a>
                            <a th:case="' '" th:href="@{/empresa/{id}(id=${emp.id})}" th:text="${emp.nombreFantasiaEmpresa}"></a>
                            <a th:case="*" th:href="@{/empresa/{id}(id=${emp.id})}" th:text="${emp.razonSocial}"></a>
                        </td>

                        <td>
                            <span th:if="${emp.rutEmpresa!=null}">
                                <span th:text="${emp.rutEmpresa}"></span>
                            </span>
                            <span th:if="${emp.idEmpresaExtranjera!=null}">
                                <span th:text="${emp.idEmpresaExtranjera}"></span>
                            </span>
                        </td>

                        <td>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalValidarCompletar" th:onclick="'setearIdEmpresaAValidar('+${emp.id}+',\''+${emp.nombreFantasiaEmpresa}+'\')'"><i class="fa fa-check"></i> Validar</button>
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalCorregirRechazar" th:onclick="'setearIdEmpresaRechazada('+${emp.id}+',\''+${emp.nombreFantasiaEmpresa}+'\')'"><i class="fa fa-times"></i> Rechazar</button>
                        </td>
                    </tr>
                    <tr th:if="${empresas.getTotalElements()==0}"><td colspan="4" style="color:gray" align="center">NO SE HAN ENCONTRADO RESULTADOS</td></tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-6 text-left">
                        <p th:text="|Total encontrados: ${empresas.getTotalElements()}|"></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p th:if="${empresas.getTotalPages() != 0}" th:text="|P&aacute;gina ${empresas.getNumber()+1} de ${empresas.getTotalPages()}|"></p>
                        <p th:if="${empresas.getTotalPages() == 0}" th:text="|P&aacute;gina 1 de 1|"></p>
                    </div>
                </div>

                <div class="text-center">
                    <ul class="pagination">
                        <li class="disabled" th:if="${currentIndex == 1}"><a href="#">&lt;&lt;</a></li>
                        <li class="disabled" th:if="${currentIndex == 1}"><a href="#">&lt;</a></li>
                        <li th:if="${currentIndex != 1}">
                            <a th:href="@{/busquedas/empresas/por-validar/publicadores/resultados(criterio=${criterio},rut=${rut},idExt=${idExtranjero},nombre=${nombre},pagina=1)}">&lt;&lt;</a>
                        </li>
                        <li th:if="${currentIndex != 1}">
                            <a th:href="@{/busquedas/empresas/por-validar/publicadores/resultados(criterio=${criterio},rut=${rut},idExt=${idExtranjero},nombre=${nombre},pagina=${currentIndex-1})}">&lt;</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence( beginIndex, endIndex)}" th:class="${i == currentIndex}? 'active'">
                            <a th:if="${i!=0}" th:text="${i}" th:href="@{/busquedas/empresas/por-validar/publicadores/resultados(criterio=${criterio},rut=${rut},idExt=${idExtranjero},nombre=${nombre},pagina=${i})}"></a>
                        </li>
                        <li class="disabled" th:if="${currentIndex == empresas.getTotalPages() || empresas.getTotalPages() == 0}"><a href="#">&gt;</a></li>
                        <li class="disabled" th:if="${currentIndex == empresas.getTotalPages() || empresas.getTotalPages() == 0}"><a href="#">&gt;&gt;</a></li>
                        <li><a th:href="@{/busquedas/empresas/por-validar/publicadores/resultados(criterio=${criterio},rut=${rut},idExt=${idExtranjero},nombre=${nombre},pagina=${currentIndex+1})}" th:if="${currentIndex != empresas.getTotalPages() and empresas.getTotalPages() != 0}">&gt;</a></li>
                        <li><a th:href="@{/busquedas/empresas/por-validar/publicadores/resultados(criterio=${criterio},rut=${rut},idExt=${idExtranjero},nombre=${nombre},pagina=${empresas.getTotalPages()})}" th:if="${currentIndex != empresas.getTotalPages() and empresas.getTotalPages() != 0}">&gt;&gt;</a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

    <div class="modal inmodal fade" id="modalValidarCompletar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-check modal-icon"></i>
                    <h4 class="modal-title">Validar Empresa</h4>
                    <small class="font-bold">Puede que la empresa <span id="nombreEmpresaModalWindowValidar"></span> posea datos incompletos. ¿Qué desea hacer?</small>
                </div>
                <div class="modal-body">
                    <p>Para validar la empresa con sus datos incompletos haga clic en el botón <strong>Validar</strong>.</p>
                    <p>Para verificar los datos de la empresa haga click en <strong>Verificar datos</strong>.</p>
                    <p>Para volver presione <strong>Cancelar</strong></p>
                </div>
                <div class="modal-footer text-center">
                    <div class="text-center">
                        <form id="formValidarEmpresa" action="#" th:action="@{/empresa/validar}" method="post" >
                            <input id="inputIdEmpresaAValidar" type="hidden" name="idEmpresa"/>
                            <input type="hidden" name="from" value="por-publicador" />
                            <input type="hidden" name="sinDatos" value="true" />
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                        <form id="formVerificarDatosEmpresa" action="#" th:action="@{/empresa/validar}" method="post" >
                            <input id="inputIdEmpresaAVerificar" type="hidden" name="idEmpresa"/>
                            <input type="hidden" name="criterio" th:value="${criterio}" />
                            <input type="hidden" name="nombre" th:value="${nombre}" />
                            <input type="hidden" name="rut" th:value="${rut}" />
                            <input type="hidden" name="idExtranjero" th:value="${idExtranjero}" />
                            <input type="hidden" name="pagina" th:value="${empresas.getNumber()+1}" />
                            <input type="hidden" name="from" value="por-publicador" />
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        </form>
                        <button id="btnValidarSinDatos" type="button" class="btn btn-warning" data-dismiss="modal">Validar</button>
                        <button id="btnVerificarDatos" type="button" class="btn btn-primary" data-dismiss="modal">Verificar datos</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modalCorregirRechazar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-times modal-icon"></i>
                    <h4 class="modal-title">Rechazar Empresa</h4>
                    <small class="font-bold">La empresa <span id="nombreEmpresaModalWindow"></span> ha sido ingresada por un publicador. ¿Qué desea hacer?</small>
                </div>
                <div class="modal-body">
                    <p>Para asociar el publicador a una empresa existente y validada presione el botón <strong>Corregir</strong>.</p>
                    <p>Para eliminar la empresa y su publicador asociado presione el botón <strong>Rechazar</strong>.</p>
                    <p>Para volver presione <strong>Cancelar</strong></p>
                </div>
                <div class="modal-footer text-center">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalCorregir"  onclick="corregirEmpresa()">Corregir</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalRechazar"  onclick="rechazarEmpresa()">Rechazar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modalCorregir" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-retweet modal-icon"></i>
                    <h4 class="modal-title">Reasignar Empresa</h4>
                </div>
                <form action="#" id="corregirForm" th:action="@{/empresa/corregir}" method="post" >
                    <div class="modal-body">
                        <p>El perfil publicador asociado a la empresa <span id="nombreEmpresaACorregir"></span> sera reasignado a:</p>
                        <div class="form-group">
                            <label class="control-label">Empresa</label>
                            <input type="text" id="nombreEmpresaAReasignar" name="nombreEmpresaAReasignar" placeholder="Nombre empresa" class="form-control"/>
                        </div>
                        <div id="selectSucursalesDiv" class="form-group" >
                            <label class="control-label">Sucursal</label>
                            <select id="selectSucursales" name="idSucursal"  class="form-control">
                                <option value="0">Seleccionar...</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <div class="text-center">
                            <input type="hidden" name="idEmpresa" id="idEmpresaACorregir"/>
                            <input type="hidden" name="from" value="por-publicador" />
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button id="btnReasignar" type="button" class="btn btn-primary" data-dismiss="modal">Reasignar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modalRechazar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Rechazar Empresa</h4>
                    <small class="font-bold">En esta sección podrá personalizar el contenido del correo electrónico de rechazo.</small>
                </div>
                <div class="modal-body">
                    <form id="rechazarForm" action="#" th:action="@{/empresa/rechazar}" method="post" >
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="radio" id="radioBtnTipo" name="tipoCorreo" value="tipo" checked="true"/>Correo Tipo
                            </div>
                            <div class="col-sm-4">
                                <input type="radio" id="radioBtnPersonalizado" name="tipoCorreo" value="personalizado"/>Correo Personalizado
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="mail-box">

                            <div class="mail-text h-400">

                                <div id="summernote" class="summernote">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <input type="hidden" name="idEmpresa" id="idEmpresaARechazar"/>
                        <input type="hidden" name="mailContent" id="mailContent"/>
                        <input type="hidden" name="from" value="por-publicador" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <div class="text-center">
                        <button id="btnRechazar" type="button" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="scripts">

    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>
    <script th:src="@{/js/plugins/summernote/lang/summernote-es-ES.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
            $('.summernote').summernote({
                minHeight: 250,             // set minimum height of editor
                maxHeight: 450,             // set maximum height of editor
                focus: true,
                lang: 'es-ES'
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

        });

        var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };

    </script>

    <script th:inline="javascript">
        // <![CDATA[
        var idEmpresaRechazada;

        $(document).ready(function() {

            cambiarEstadoTextBox();
            $('#criterio').change(function(){
                cambiarEstadoTextBox();
            });

            $('#btnValidarSinDatos').click(function(){
                $('#inputIdEmpresaAValidar').val(idEmpresaAValidar);
                $('#formValidarEmpresa').submit();
            });

            $('#btnVerificarDatos').click(function(){
                $('#inputIdEmpresaAVerificar').val(idEmpresaAValidar);
                $('#formVerificarDatosEmpresa').submit();
            });

            $('#btnReasignar').click(function(){
                $('#idEmpresaACorregir').val(idEmpresaRechazada);
                $('#corregirForm').submit();
            });

            $('#btnRechazar').click(function () {
                $('#idEmpresaARechazar').val(idEmpresaRechazada);
                $('#mailContent').val($('#summernote').summernote('code'));
                $('#rechazarForm').submit();
            });

        });

        function setearIdEmpresaRechazada(idEmpresa, nombre){
            idEmpresaRechazada = idEmpresa;
            document.getElementById("nombreEmpresaModalWindow").innerHTML = "'"+nombre+"'";
        }

        function setearIdEmpresaAValidar(idEmpresa, nombre){
            idEmpresaAValidar = idEmpresa;
            document.getElementById("nombreEmpresaModalWindowValidar").innerHTML = "'"+nombre+"'";
        }

        function corregirEmpresa(){
            document.getElementById("nombreEmpresaACorregir").innerHTML = document.getElementById("nombreEmpresaModalWindow").innerHTML;
        }

        function rechazarEmpresa(){
            $('#radioBtnTipo').prop('checked',true);
            $('#radioBtnPersonalizado').prop('checked',false);
            $('#summernote').summernote('code', [[${emailRechazo}]]);
            $('#summernote').summernote('disable');
        }

        function hideAll() {
            $('#rut').hide();
            $('#nombre').hide();
        }

        function cambiarEstadoTextBox() {
            hideAll();
            var criterioBusqueda = $('#criterio').val();

            if (criterioBusqueda == "nombre") {
                $('#nombre').show();
                $('#rutField').val('');
                $('#idExtField').val('');
            }
            else if (criterioBusqueda == "rut") {
                $('#rut').show();
                $('#nombreField').val('');
            }
        }

        $(function() {
            $("#nombreEmpresaAReasignar").autocomplete({
                minLength:3,
                source: function (request, response) {
                    $.getJSON("/opciones/empresas", {
                                term: request.term
                            },
                            response);
                },
                select: function (event, ui){
                    var empresa = ui.item.value;
                    var selectSucursales = $('#selectSucursales');
                    $.ajax({
                        url: '/empresa/'+empresa+'/nombres-sucursales',
                        method: 'GET',
                        success: function(response) {
                            if(response == undefined || response == null){
                                alert("La empresa '"+empresa+"' no existe o no posee sucursales.");
                            }else {
                                selectSucursales.empty();
                                $.each(response, function (index, value) {
                                    selectSucursales.append($('<option></option>').attr('value', value.sucursalCodigo).text(value.sucSucursal));
                                });
                                $('#selectSucursalesDiv').show();
                            }
                        }
                    });
                }
            });
        });


    </script>

    <script th:inline="javascript">
        $(document).ready(function () {

            $('input[type=radio][name=tipoCorreo]').change(function() {
                $('#summernote').summernote('code', [[${emailRechazo}]]);
                if (this.value == 'tipo') $('#summernote').summernote('disable');
                else if (this.value == 'personalizado') {
                    $('#summernote').summernote('enable');
                }
            });

            $('#idExtranjera').hide();

            $('#nacional').click(function () {
                $('#idExtranjera').hide('fast');
                $('#rutEmpresa').show('fast');
            });

            $('#extranjera').click(function () {
                $('#rutEmpresa').hide('fast');
                $('#idExtranjera').show('fast');
            });

            $('html, body').animate({
                scrollTop: $("#resultados_busqueda").offset().top
            }, 1000);

            setTimeout(function(){
                if([[${datosIncompletos != null && datosIncompletos}]]){
                    var ask = window.confirm("La empresa tiene datos incompletos. Presione 'Aceptar' para continuar.");
                    if (ask) {
                        document.location.href = [[${idEmpresa}]]+"/por-publicador/completar-datos";

                    }
                }
            }, 1000);

        });

        $(document).keypress(function(e) {
            if(e.which == 13) {
                submitFormBusqueda();
            }
        });

        function submitFormBusqueda(){
            var nombre = $("#nombre").val();
            $("#nombre").val(encodeURI($("#nombre").val()));
            $("#formBusqueda").submit();
            $("#nombre").val(nombre);
        }
        // ]]>
    </script>

</th:block>
</body>
</html>