<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title> Indices </title>
</head>
<body>
    <h1> Indices </h1>


    <a href="/indices/empleos/cantidadOfertasLaboralesPorCarrera"> Ver Cantidad Ofertas Laborales por Carrera </a>  <br/>

    <a href="/indices/empleos/cantidadEmpresasOfrecenEmpleo"> Ver Cantidad Empresas que Ofrecen Empleo </a> <br/>

    <a href="/indices/empleos/cantidadOfertasLaboralesPorTipoOferta"> Ver Cantidad  Ofertas Laborales por Tipo de Oferta </a> <br/>

    <a href="/indices/empleos/rankingCarrerasPorDemanda"> Ver Ranking Carreras Por Demanda</a> <br/>

    <a href="/indices/empleos/rankingCarrerasPorSalario"> Ver Ranking Carreras Por Salario</a> <br/>

    <a href="/indices/empleos/rankingCarrerasPorVacantes"> Ver Ranking Carreras Por Vacantes</a> <br/>

</body>
</html>