<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="actualTemplate='indices', actualSubTemplate='curriculos', actualSubSubTemplate='cantidadCurriculosPorSexo'">
<head>
    <title>Indice Curriculos Por Sexo</title>
</head>
<body>

<div layout:fragment="title">
    <h2>Indice Curriculos Por Sexo</h2>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a href="#">Indices</a></li>
        <li><a th:href="@{/indices/curriculos}">Curriculos</a></li>
        <li><a th:href="@{/indices/curriculos/cantidadCurriculosPorSexo}">Indice Curriculos Por Sexo</a></li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Indice Curriculos Por Sexo
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content" >

                <form th:action="@{/indices/curriculos/buscarCantidadCurriculosPorSexo}" method="GET" >

                    <div class="row">
                        <div class="col-sm-6" >
                            <div class="form-group" >
                                <label class="control-label">Pa&iacute;s:</label>
                                <select id="pais" class="form-control" onchange="mostrarOpcionesInstituciones()">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6" >
                            <div class="form-group" >
                                <label class="control-label">Instituci&oacute;n:</label>
                                <select name="codInstitucion" id="codInstitucion" class="form-control" onchange="mostrarOpcionesCarrerasAsociadasAInstitucion()">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-12" >
                            <div class="form-group" >
                                <label   class='control-label'>Carrera:</label>
                                <select name="codCarrera" id="codCarrera" class="form-control" >
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div class="col-lg-12" th:if="${curriculosPorSexo != null}" id="resultados-indice">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Resultados del indice
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="alert alert-info alert-dismissable" th:if="${curriculosPorSexo}">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    Se han encontrado los siguientes resultados para tu b&uacute;squeda
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Tabla Cantidad de Curriculos por Sexo</label>
                            <table class="table table-striped table-bordered table-hover" th:if="${curriculosPorSexo}">
                                <thead>
                                    <tr>
                                        <th>SEXO</th>
                                        <th>CANTIDAD</th>
                                        <th>PORCENTAJE</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr >
                                        <td>Femenino</td>
                                        <td th:text="${curriculosPorSexo[0]}"> </td>
                                        <td th:text="${curriculosPorSexo[1]}"> </td>
                                    </tr>
                                    <tr >
                                        <td>Masculino</td>
                                        <td th:text="${curriculosPorSexo[2]}"> </td>
                                        <td th:text="${curriculosPorSexo[3]}"> </td>
                                    </tr>
                                    <tr >
                                        <td>S/I</td>
                                        <td th:text="${curriculosPorSexo[4]}"> </td>
                                        <td th:text="${curriculosPorSexo[5]}"> </td>
                                    </tr>
                                    <tr >
                                        <td>Total</td>
                                        <td th:text="${curriculosPorSexo[6]}"> </td>
                                        <td th:text="${curriculosPorSexo[7]}"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">Grafico Cantidad de Curriculos por Sexo</label>
                            <div id="income" class="center-block" style="width:500px;height:400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<th:block layout:fragment="scripts">

    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>

    <!-- FlotJS-->
    <script th:src="@{/js/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/js/plugins/flot/jquery.flot.pie.js}"></script>


    <script th:inline="javascript">
        $(document).ready(function() {
            mostrarOpcionesPaises();

            $('html, body').animate({
                scrollTop: $("#resultados-indice").offset().top
            }, 1000);

            mostrarGrafico();
        });

        function mostrarOpcionesPaises() {
            $.ajax({
                type: "GET",
                url: '/geo/paises',
                success: function (response) {
                    $.each(response, function(index, value){
                        if (value.id == 56 ) {
                            $('#pais').append($("<option></option>").attr("value", value.id).attr("selected", "selected").text(value.nombre));
                        }
                        else {
                            $('#pais').append($("<option></option>").attr("value", value.id).text(value.nombre));
                        }
                    });

                    mostrarOpcionesInstituciones();
                }
            });
        }

        function mostrarOpcionesInstituciones() {
            $.ajax({
                type: "GET",
                url: '/opciones/pais/'+$('#pais').val()+'/instituciones',
                success: function (response) {
                    $('#codInstitucion').empty();

                    $.each(response, function(index, value){
                        if (value.codInstitucion == 25 ) {
                            $('#codInstitucion').append($("<option></option>").attr("value", value.codInstitucion).attr("selected", "selected").text(value.nomInstitucion));
                        }
                        else {
                            $('#codInstitucion').append($("<option></option>").attr("value", value.codInstitucion).text(value.nomInstitucion));
                        }
                    });

                    mostrarOpcionesCarrerasAsociadasAInstitucion();
                }
            });
        }

        function mostrarOpcionesCarrerasAsociadasAInstitucion() {
            $.ajax({
                type: "GET",
                url: '/opciones/institucion/'+$('#codInstitucion').val()+'/carreras',
                success: function (response) {
                    $('#codCarrera').empty();

                    $('#codCarrera').append($("<option></option>").attr("value", 0).text("Todas"));

                    $.each(response, function(index, value){
                        $('#codCarrera').append($("<option></option>").attr("value", value.carrera.codCarrera).text(value.carrera.nombreCarrera));
                    });
                }
            });
        }

        function mostrarGrafico() {
            sexos = ["Femenino", "Masculino", "S/I"];
            cantidades = [[${curriculosPorSexoJSON}]];
            cantidades = JSON.parse(cantidades);

            var dataSet = [
                {
                    data: parseInt(cantidades[0]),
                    color:"#1abc9c",
                    label: sexos[0]
                },
                {
                    data: parseInt(cantidades[1]),
                    color: "#2ecc71",
                    label: sexos[1]
                },
                {
                    data: parseInt(cantidades[2]),
                    color: "#3498db",
                    label: sexos[2]
                }
            ];

            var options = {
                series: {
                    pie: {
                        show: true,
                        label: {
                            show: true
                        }
                    }
                }
            };

            $.plot($("#income"), dataSet, options);
        }

    </script>

</th:block>


</body>
</html>

