<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="actualTemplate='instituciones', actualSubTemplate='mezclarInstitucion'">
<head>
    <title>Busqueda Mezclar Institucion</title>

    <!--/*/
    <th:block layout:fragment="css">
        <link th:href="@{/css/jQueryUI/jquery-ui-1.10.4.custom.min.css}" rel="stylesheet"/>
    </th:block>
    /*/-->
</head>
<body>

<div layout:fragment="title">
    <h2>Busqueda Mezclar Institucion</h2>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/institucion}">Institucion</a></li>
        <li><a th:href="@{/institucion/buscarMezcladorInstitucion}">Busqueda Mezclar Institucion</a></li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Busqueda Mezclar Institucion
                    <small>Puede realizar una b&uacute;squeda por el nombre de Institucion que se desea mezclar</small>
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content" style="padding-bottom: 5px;">

                <form th:action="@{/institucion/buscarMezcladorInstitucion}" method="POST" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre Institucion</label>
                        <div class="col-sm-10">
                            <input type="text" name="nomInstitucionBuscar" id="nomInstitucionBuscar" class="form-control" th:value="${nomInstitucionBuscar}"/>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>




    <div class="col-lg-12" th:if="${instituciones != null}" id="resultados_busqueda">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">

                <div th:if="${instituciones.size() == 0}" class="alert alert-info alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    No se han encontrado resultados para tu b&uacute;squeda
                </div>

                <div th:if="${instituciones.size() != 0}">
                    <div class="ibox-title">
                        <h5>
                            Seleccion de Instituciones a Mezclar
                        </h5>
                    </div>

                    <form th:action="@{/institucion/mezclar}" th:object="${institucion}" method="POST" >
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*') or errorNomInstitucion!=null or errorCheckbox!= null}">
                            <strong>Atenci&oacute;n: </strong> Debes solucionar los errores marcados en rojo antes de proceder con el registro de la institución.
                        </div>

                        <label class="error" th:if="${errorCheckbox}" th:text="${errorCheckbox}"></label>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>NOMBRE INSTITUCION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="institucion: ${instituciones}" >
                                <td>
                                    <input type="checkbox" name="idsInstitucionesMezclar" th:value="${institucion.codInstitucion}"/>
                                </td>
                                <td th:text="${institucion.nomInstitucion}">
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        <div class="hr-line-dashed"></div>
                        <div class="hr-line-dashed"></div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" th:class="${#fields.hasErrors('nomInstitucion')}?  'has-error'">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" th:field="*{nomInstitucion}" class="form-control"  placeholder="Si ya se encuentra registrada aparecer&aacute; en el listado" />
                                    <label class="error" th:if="${#fields.hasErrors('nomInstitucion')}" th:text="${#fields.errors('*{nomInstitucion}')}"></label>
                                    <label class="error" th:if="${errorNomInstitucion}" th:text="${errorNomInstitucion}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group" th:class="${#fields.hasErrors('direccion')}? 'has-error'">
                                    <label class="control-label">Direcci&oacute;n</label>
                                    <input type="text" th:field="*{direccion}" class="form-control"/>
                                    <label class="error" th:if="${#fields.hasErrors('direccion')}" th:text="${#fields.errors('*{direccion}')}"></label>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group" th:class="${#fields.hasErrors('pais.nombre')}? 'has-error'">
                                    <label class="control-label">Pais</label>
                                    <select th:field="*{pais.id}" id="idPais" class="form-control">
                                    </select>
                                    <label class="error" th:if="${#fields.hasErrors('pais.nombre')}" th:text="${#fields.errors('*{pais.nombre}')}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" th:class="${#fields.hasErrors('telefono')}? 'has-error'">
                                    <label class="control-label">Tel&eacute;fono</label>
                                    <input type="text" th:field="*{telefono}" class="form-control"/>
                                    <label class="error" th:if="${#fields.hasErrors('telefono')}" th:text="${#fields.errors('*{telefono}')}"></label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Tipo Vigencia:</label>
                                    <select th:field="*{vigencia.codVigencia}" class="form-control">
                                        <option th:each="tv: ${tiposVigencia}" th:value="${tv.codVigencia}" th:text="${tv.nomVigencia}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="nomInstitucionBuscar" id="nomInstitucionBuscar" th:value="${nomInstitucionBuscar}"/>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Mezclar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>

    <script th:inline="javascript">

        function mostrarOpcionesPaises() {
            $.ajax({
                type: "GET",
                url: '/geo/paises',
                success: function (response) {

                    // 0 valor por defecto en el caso que no exista idPais
                    var idPais = /*[[ ${institucion.pais?.id}  ]]*/ 0;

                    if (idPais==null) {
                        idPais= '56';
                    }

                    $.each(response, function (index, value) {
                        if (value.id == idPais) {
                            $('#idPais').append($("<option></option>").attr("value", value.id).attr("selected", "selected").text(value.nombre));
                        }
                        else {
                            $('#idPais').append($("<option></option>").attr("value", value.id).text(value.nombre));
                        }
                    });
                }
            });
        }

        $(document).ready(function() {
            $('html, body').animate({
                scrollTop: $("#resultados_busqueda").offset().top
            }, 1000);

            mostrarOpcionesPaises();
        });

    </script>

</th:block>

</body>
</html>

