<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main"
      th:with="actualTemplate='carrerasInstitucion', actualSubTemplate='administracionCarrerasInstitucion'">
<head>
    <title>Administracion Carreras Institucion</title>
</head>
<body>

<div layout:fragment="title">
    <h2>Administraci&oacute;n Carreras Instituci&oacute;n</h2>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/carreraInstitucion}">Carreras Institucion</a></li>
    </ol>
</div>



<div layout:fragment="content">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Administraci&oacute;n Carreras Instituci&oacute;n
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content" >



                <div class="row">
                    <div class="col-sm-4" >
                        <a class="btn btn-success btn-xs"  th:href="@{/carreraInstitucion/registrar}+'/0/0'" >
                            <i class="fa fa-link"></i>Asignar una Carrera a una Instituci&oacute;n </a>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <form th:action="@{/carreraInstitucion/buscar}"  method="GET">

                    <div class="row">
                        <div class="col-sm-6" >
                            <div class="form-group" >
                                <label class="control-label">Pa&iacute;s:</label>
                                <select name="pais" id="pais" class="form-control" onchange="mostrarOpcionesInstituciones()">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6" >
                            <div class="form-group" >
                                <label class="control-label">Instituci&oacute;n:</label>
                                <select name="institucion" id="institucion" class="form-control" >
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <input type="hidden" th:name="pagina" th:value="1"/>

                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="col-lg-12" th:if="${carrerasInstitucion != null}" >
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Resultados de la b&uacute;squeda
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="alert alert-info alert-dismissable" th:if="${carrerasInstitucion.getNumberOfElements()}  != 0">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    Se han encontrado los siguientes resultados para tu b&uacute;squeda
                </div>
                <div class="alert alert-info alert-dismissable" th:if="${carrerasInstitucion.getNumberOfElements()} == 0 ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    No se encontraron resultados para tu busqueda
                </div>

                <table class="table table-hover" th:if="${carrerasInstitucion.getNumberOfElements()} != 0">
                    <thead>
                    <tr>
                        <th>NOMBRE CARRERA</th>
                        <th>DURACION</th>
                        <th>VIGENCIA</th>
                        <th>SITIO OFICIAL</th>
                        <th>OFERTAS</th>
                        <th>ANT. LABORALES</th>
                        <th>MODIFICAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="carreraInstitucion: ${carrerasInstitucion}" >
                        <td th:text="${carreraInstitucion.carrera.nombreCarrera}">
                        </td>

                        <td th:text="${carreraInstitucion.carrera.duracion}">
                        </td>

                        <td th:text="${carreraInstitucion.tipoVigencia.nomVigencia}">
                        </td>

                        <td th:text="${carreraInstitucion.sitioOficial}">
                        </td>

                        <td>
                            0
                        </td>

                        <td>
                            0
                        </td>

                        <td>
                            <a class="btn btn-primary btn-xs" th:href="@{'/carreraInstitucion/modificar/'+${carreraInstitucion.codInstitucion}+'/'+${carreraInstitucion.codCarrera} }">
                                <i class="fa fa-edit"></i> Modificar </a>
                        </td>

                        <td>
                            <a class="btn btn-danger btn-xs"  th:if="${carreraInstitucion.tipoVigencia.codVigencia!=3}" th:href="@{'/carreraInstitucion/eliminar/'+${carreraInstitucion.codInstitucion}+'/'+${carreraInstitucion.codCarrera}}" onClick="return confirm('¿Seguro que desea eliminar la Carrera de la Institucion?')">
                                <i class="fa fa-trash-o"></i> Eliminar </a>
                        </td>

                    </tr>
                    </tbody>
                </table>



                <div class="row">
                    <div class="col-md-6 text-left">
                        <p th:text="|Total encontrados: ${carrerasInstitucion.getTotalElements()}|"></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p th:text="|P&aacute;gina ${carrerasInstitucion.getNumber() + 1} de ${carrerasInstitucion.getTotalPages()}|"></p>
                    </div>
                </div>

                <div class="text-center">
                    <ul class="pagination">
                        <li class="disabled" th:if="${currentIndex == 1}"><a href="#">&lt;&lt;</a></li>
                        <li class="disabled" th:if="${currentIndex == 1}"><a href="#">&lt;</a></li>
                        <li th:if="${currentIndex != 1}">
                            <a th:href="@{/carreraInstitucion/buscar(institucion=${codInstitucion},pagina=1)}">&lt;&lt;</a>
                        </li>
                        <li th:if="${currentIndex != 1}">
                            <a th:href="@{/carreraInstitucion/buscar(institucion=${codInstitucion},pagina=${currentIndex-1})}">&lt;</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence( beginIndex, endIndex)}" th:class="${i == currentIndex}? 'active'">
                            <a th:text="${i}" th:href="@{/carreraInstitucion/buscar(institucion=${codInstitucion},pagina=${i})}"></a>
                        </li>
                        <li class="disabled" th:if="${currentIndex == carrerasInstitucion.getTotalPages()}"><a href="#">&gt;</a></li>
                        <li class="disabled" th:if="${currentIndex == carrerasInstitucion.getTotalPages()}"><a href="#">&gt;&gt;</a></li>
                        <li><a th:href="@{/carreraInstitucion/buscar(institucion=${codInstitucion},pagina=${currentIndex+1})}" th:if="${currentIndex != carrerasInstitucion.totalPages}">&gt;</a></li>
                        <li><a th:href="@{/carreraInstitucion/buscar(institucion=${codInstitucion},pagina=${carrerasInstitucion.getTotalPages()})}" th:if="${currentIndex != carrerasInstitucion.totalPages}">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>






<th:block layout:fragment="scripts">

    <script th:inline="javascript">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: '/geo/paises',
                success: function (response) {
                    $.each(response, function(index, value){
                        if (value.id == 56 ) {
                            $('#pais').append($("<option></option>").attr("value", value.id).attr("selected", "selected").text(value.nombre));
                        }
                        else {
                            $('#pais').append($("<option></option>").attr("value", value.id).text(value.nombre));
                        }
                    });

                    mostrarOpcionesInstituciones();
                }
            });
        });

        function mostrarOpcionesInstituciones() {
            $.ajax({
                type: "GET",
                url: '/opciones/pais/'+$('#pais').val()+'/instituciones',
                success: function (response) {
                    $('#institucion').empty();

                    $.each(response, function(index, value){
                        if (value.codInstitucion == 25 ) {
                            $('#institucion').append($("<option></option>").attr("value", value.codInstitucion).attr("selected", "selected").text(value.nomInstitucion));
                        }
                        else {
                            $('#institucion').append($("<option></option>").attr("value", value.codInstitucion).text(value.nomInstitucion));
                        }
                    });
                }
            });
        }

    </script>


</th:block>


</body>
</html>