<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
    <title>Antecedentes Laborales</title>

</head>
<body>

<div layout:fragment="title">
    <h2>Antecedentes Laborales</h2>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">Inicio</a></li>
        <li>Usuarios</li>
        <li class="active">
            <a th:href="@{/usuario/perfil/{id}(id=${perfil.id})}">
            <span th:switch="${perfil.nombre}">
                <strong th:case="null">Sin Información</strong>
                <strong th:case="*" th:text="${perfil.nombre}"></strong>
            </span></a>
        </li>
    </ol>
</div>

<div layout:fragment="content">

    <div class="col-lg-9">

        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">

                            <h2 th:switch="${nombre}">
                                <span th:case="null">Sin Información</span>
                                <span th:case="*" th:text="${nombre}"></span>
                            </h2>
                        </div>

                        <div class="row">

                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Actividades Desarrolladas</h5>

                                        <div class="ibox-tools">
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            <a class="close-link"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Empresa</th>
                                                <th>Departamento</th>
                                                <th>Cargo</th>
                                                <th>TipoActividad</th>
                                                <th>Fecha Ingreso</th>
                                                <th>Fecha Egreso</th>
                                                <th>Acción</th>
                                            </tr>
                                            </thead>
                                        <tbody>
                                        <tr th:each="actividad : ${actividades}">
                                            <td>
                                                    <span th:if="${actividad.empresa!=null}">
                                                    <span th:switch="${actividad.empresa.nombreFantasiaEmpresa}">
                                                        <a th:case="null">Sin Información</a>
                                                        <a th:case="*" th:text="${actividad.empresa.nombreFantasiaEmpresa}"></a>
                                                    </span>
                                                        </span>
                                            </td>
                                            <td>
                                                    <span th:switch="${actividad.departamento}">
                                                        <a th:case="empty">Sin Información</a>
                                                        <a th:case="' '">Sin Información</a>
                                                        <a th:case="*" th:text="${actividad.departamento}"></a>
                                                    </span>
                                            </td>
                                            <td>
                                                    <span th:switch="${actividad.cargo}">
                                                        <a th:case="empty">Sin Información</a>
                                                        <a th:case="' '">Sin Información</a>
                                                        <a th:case="*" th:text="${actividad.cargo}"></a>
                                                    </span>
                                            </td>>
                                            <td>
                                                    <span th:switch="${actividad.tipoActividadExalumno.nomActividadExalumno}">
                                                        <a th:case="null">Sin Información</a>
                                                        <a th:case="*" th:text="${actividad.tipoActividadExalumno.nomActividadExalumno}"></a>
                                                    </span>
                                            </td>
                                            <td>
                                                    <span th:switch="${actividad.fechaIngreso}">
                                                        <a th:case="empty">Sin Información</a>
                                                        <a th:case="' '">Sin Información</a>
                                                        <a th:case="*" th:text="${#calendars.format(actividad.fechaIngreso, 'dd/MM/yyyy')}"></a>
                                                    </span>
                                            </td>
                                            <td>
                                                    <span th:switch="${actividad.fechaEgreso}">
                                                        <a th:case="null">Sin Información</a>
                                                        <a th:case="*" th:text="${#calendars.format(actividad.fechaEgreso, 'dd/MM/yyyy')}"></a>
                                                    </span>
                                            </td>
                                            <td>
                                                <a th:href="@{/antecedenteLaboral/eliminar(id=${actividad.id})}">Eliminar</a>
                                            </td>
                                            </tr>
                                        </tbody>

                                        </table>
                                        <div class="ibox-content" style="padding-left: 0;">
                                        <form action="#" th:action="@{/antecedenteLaboral/registrar}" th:object="${actividad}" method="post">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group" id="opcionesEmpresa" th:class="${#fields.hasErrors('empresa.razonSocial')}? 'has-error'">
                                                        <label class="control-label">Empresa: </label>
                                                        <input type="text" th:field="*{empresa.razonSocial}" id="empresa" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('empresa.razonSocial')}" th:text="${#fields.errors('*{empresa.razonSocial}')}"></label>
                                                    </div>
                                                </div>
                                                <div class='col-sm-6' >
                                                    <div class="form-group" th:class="${#fields.hasErrors('sucursalEmpresa.sucursalCodigo')}?  'has-error'">
                                                        <label class="control-label">Sucursal:</label>
                                                        <select th:field="*{sucursalEmpresa.sucursalCodigo}" class="form-control sucursales">
                                                        </select>
                                                        <label class="error" th:if="${#fields.hasErrors('sucursalEmpresa.sucursalCodigo')}" th:text="${#fields.errors('*{sucursalEmpresa.sucursalCodigo}')}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group" th:class="${#fields.hasErrors('tipoActividadExalumno.codActividadExalumno')}? 'has-error'">
                                                        <label class="control-label">Tipo Actividad:</label>
                                                        <select th:field="*{tipoActividadExalumno.codActividadExalumno}" class="form-control">
                                                            <option th:each="tipo: ${tipos}" th:value="${tipo.codActividadExalumno}" th:text="${tipo.nomActividadExalumno}"></option>
                                                        </select>
                                                        <label class="error" th:if="${#fields.hasErrors('tipoActividadExalumno.codActividadExalumno')}" th:text="${#fields.errors('*{tipoActividadExalumno.codActividadExalumno}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" th:class="${#fields.hasErrors('cargo')}? 'has-error'">
                                                        <label class="control-label">Cargo: </label>
                                                        <input type="text" th:field="*{cargo}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('cargo')}" th:text="${#fields.errors('*{cargo}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" th:class="${#fields.hasErrors('tipoCargo.codCargo')}? 'has-error'">
                                                        <label class="control-label">Tipo Actividad:</label>
                                                        <select th:field="*{tipoCargo.codCargo}" class="form-control">
                                                            <option th:each="cargo: ${cargos}" th:value="${cargo.codCargo}" th:text="${cargo.nomCargo}"></option>
                                                        </select>
                                                        <label class="error" th:if="${#fields.hasErrors('tipoCargo.codCargo')}" th:text="${#fields.errors('*{tipoCargo.nomCargo}')}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group" th:class="${#fields.hasErrors('fechaIngreso')}? 'has-error'">
                                                        <label class="control-label">Fecha de ingreso:</label>
                                                        <input type="text" th:field="*{fechaIngreso}" class="form-control"/>
                                                        <label class="error" th:if="${#fields.hasErrors('fechaIngreso')}" th:text="${#fields.errors('*{fechaIngreso}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" th:class="${#fields.hasErrors('fechaEgreso')}? 'has-error'">
                                                        <label class="control-label">Fecha de egreso:</label>
                                                        <input type="text" th:field="*{fechaEgreso}" class="form-control"/>
                                                        <label class="error" th:if="${#fields.hasErrors('fechaEgreso')}" th:text="${#fields.errors('*{fechaEgreso}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" th:class="${#fields.hasErrors('departamento')}? 'has-error'">
                                                        <label class="control-label">Departamento: </label>
                                                        <input type="text" th:field="*{departamento}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('departamento')}" th:text="${#fields.errors('*{departamento}')}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('notaEstabilidad')}? 'has-error'">
                                                        <label class="control-label">Nota Estabilidad: </label>
                                                        <input type="text" th:field="*{notaEstabilidad}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('notaEstabilidad')}" th:text="${#fields.errors('*{notaEstabilidad}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('notaIngreso')}? 'has-error'">
                                                        <label class="control-label">Nota Ingreso: </label>
                                                        <input type="text" th:field="*{notaIngreso}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('notaIngreso')}" th:text="${#fields.errors('*{notaIngreso}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('notaAmbiente')}? 'has-error'">
                                                        <label class="control-label">Nota Ambiente: </label>
                                                        <input type="text" th:field="*{notaAmbiente}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('notaAmbiente')}" th:text="${#fields.errors('*{notaAmbiente}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('notaEmpresa')}? 'has-error'">
                                                        <label class="control-label">Nota Empresa: </label>
                                                        <input type="text" th:field="*{notaEmpresa}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('notaEmpresa')}" th:text="${#fields.errors('*{notaEmpresa}')}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('notaFelicidad')}? 'has-error'">
                                                        <label class="control-label">Nota Felicidad: </label>
                                                        <input type="text" th:field="*{notaFelicidad}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('notaFelicidad')}" th:text="${#fields.errors('*{notaFelicidad}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('notaRemuneracion')}? 'has-error'">
                                                        <label class="control-label">Nota Remuneración: </label>
                                                        <input type="text" th:field="*{notaRemuneracion}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('notaRemuneracion')}" th:text="${#fields.errors('*{notaRemuneracion}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('remuneracion')}? 'has-error'">
                                                        <label class="control-label">Remuneración: </label>
                                                        <input type="text" th:field="*{remuneracion}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('remuneracion')}" th:text="${#fields.errors('*{remuneracion}')}"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group" th:class="${#fields.hasErrors('tipoMoneda.codigo')}? 'has-error'">
                                                        <label class="control-label">Tipo Moneda: </label>
                                                        <select th:field="*{tipoMoneda.codigo}" class="form-control">
                                                            <option th:each="moneda: ${monedas}" th:value="${moneda.codigo}" th:text="${moneda.nombre}"></option>
                                                        </select>
                                                        <label class="error" th:if="${#fields.hasErrors('tipoMoneda.codigo')}" th:text="${#fields.errors('*{tipoMoneda.codigo}')}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group" th:class="${#fields.hasErrors('descripcion')}? 'has-error'">
                                                        <label class="control-label">Descripción de la Actividad: </label>
                                                        <input type="text" th:field="*{descripcion}" class="form-control" />
                                                        <label class="error" th:if="${#fields.hasErrors('descripcion')}" th:text="${#fields.errors('*{descripcion}')}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <input type="hidden" name="idUsuario" th:value="${perfil.id}" />
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                            <a th:href="@{/}" class="btn btn-white">Cancelar</a>
                                            <button class="btn btn-primary" type="submit">Guardar</button>
                                        </form>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-3">

        <div class="wrapper wrapper-content project-manager">

            <p th:switch="${perfil.urlFoto}" class="text-center">
                <img th:case="null"
                     src="/img/generic_avatar.png"
                     class="img-circle circle-border m-b-md img-perfil-usuario"/>
                <img th:case="*" th:src="'http://perfil.sansanos.cl/data'+${perfil.urlFoto}"
                     class="img-circle circle-border m-b-md img-perfil-usuario"/>
            </p>

            <div class="widget yellow-bg p-lg text-center"><i class="fa fa-thumbs-up fa-4x"></i>

                <h3 class="font-bold no-margins">Cumplea&ntilde;os</h3>
                <small>Faltan</small>
                <h1 class="m-xs" th:switch="${dias}">
                    <span th:case="null">--</span>
                    <span th:case="*" th:text="${dias}"></span>
                </h1>
                <small>d&iacute;as.</small>
            </div>

        </div>
    </div>

</div>
<th:block layout:fragment="scripts">

    <!--/*/
    <script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:inline="javascript">
        $(function(){
            $.fn.datepicker.dates['es'] = {
                days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
                daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
                daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                today: "Hoy"
            };
            $('#fechaIngreso').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: "es"
            });
            $('#fechaEgreso').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: "es"
            });
        });
    </script>/*/-->

    <script th:inline="javascript">
        $(function() {
            var sucursales = [];
            $("#empresa").autocomplete({
                minLength:3,
                source: function (request, response) {
                    $.getJSON("/opciones/empresasActividadExalumno", {
                                term: request.term
                            }, response);
                },
                select: function(event, ui){
                    var esto = ui.item.value;
                    $.ajax({
                        type: "GET",
                        url: '/opciones/sucursal/'+esto,
                        success: function (response) {
                            $('.sucursales').empty();
                            $.each(response, function(index, value){
                               $('.sucursales').append($("<option></option>").attr("value", value.sucursalCodigo).text(value.sucSucursal));
                            });
                        }
                    });
                }
            });
        });
    </script>
</th:block>
</body>
</html>